<!doctype html>
<div
  style="
    width: 100%;
    color: #666;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
  "
>
  <img src="<%=imageUrl%>" width="90px" height="90px" />
  <h1 style="font-size: 20px; margin: 0; padding: 0">User Management System</h1>
</div>
<div
  style="
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ddd;
    padding: 15px;
  "
>
  <h1>Verify your email</h1>
  <span style="font-size: 20px" style="text-align: left">
    <p>
      Please click the link below to verify your email and get access to the
      dashboard:
    </p>
    <p>
      <a href="<%=verificationUrl%>"><%=verificationUrl%></a>
    </p>
  </span>
</div>
<div style="width: 100%; text-align: center; margin: 15px">
  <a
    style="color: #a66; text-decoration: none"
    href="<%=homeUrl%>"
    target="_blank"
    >User Management system by Andrash Yang</a
  >
</div>
